/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

app-icon {
  display: inline-flex;
}

app-icon svg {
  width: 100%;
  height: 100%;
  display: block;
}
